body {
	background-color: #F4F4F4;
}

h1 {
	text-align: center;
}

h4 {
	text-align: center;
	text-decoration: underline;
}

h3, ul {
	margin-left: 30px;
}

.imageContainer img {
	width: 100px;
	height: auto;
	display: block;
    margin: 0 auto;
}

.playerHeading, .scoreHeading {
	text-align: center;
	display: block;
	font-size: 1.2em;
	font-weight: 600;
}